<!DOCTYPE html>
<html>
        <head>
            <meta charset= "utf-8">
            <title>Maintenance page</title>
        </head>
        {{> header}}
        <body>
            <p>{{screamIt welcomeMessage }}</p>
            <h1>error 404</h1>
            <h5>Maintenance page</h5>
             <a href='/about'>go about</a> <br>
             <a href='/maintenance'>go maintenance</a> <br>
             <a href='/home'>go home</a><br>
          
               <h3> hello maintenance</h3> 
               
          
           {{> footer}}
        </body>
</html>